
<div class="ret_app_all">
	<div class="ret_advi">
		<span class="ret_lab control-label">审批意见：</span>
		<span class="controls">
			<textarea type="text" id="auditopinion" class="ret_textarea form-control">情况属实,批准</textarea>
		</span>
	</div>
	<div class="ret_cz_div">
		<span class="ret_lab control-label"><!-- 操作： -->&nbsp;</span>
		<!-- <a class="ret_btn btn btn-sm ret_color_a" vel="pass">通过</a>
		<a class="ret_btn btn btn-sm" vel="nopass">不通过</a> -->
		<!-- <div class="controls"> -->
            <ul class="dowebok controls">
				<li>
					<input type="radio" name="auditstate" value="pass" checked="checked" class="labelauty" id="labelauty-586778" style="display: none;">
					<label for="labelauty-586778">
						<span data-clzz="labelauty4-checked" class="js_commonradio labelauty4-checked">通过</span>
					</label>
				</li>
				<li>
				<input type="radio" name="auditstate" value="notpass" class="labelauty" id="labelauty-597511" style="display: none;">
				<label for="labelauty-597511">
				<span data-clzz="labelauty-checked" class="js_commonradio labelauty-unchecked">不通过</span>
				</label></li>
		</ul>
      <!--  </div> -->
	</div>
	<div class="ret_div_ok">
		<a class="ret_btn_ok btn btn-primary btn-sm">确定</a>
	</div>
</div>
