<div class="process-forms dialog-item ">
	<div class="forms-option" id="operPanel">
		<div class="inrPanel">
			<div class="boxView lanbox">
			    <span>识别语言：</span>
			    <p>
					<a class="btn btn-sm js-copy-to-element onLan" data-language="SimplifiedChinese">简体中文</a>
					<a class="btn btn-sm js-copy-to-element" data-language="TraditionalChinese">繁体中文</a>
					<a class="btn btn-sm js-copy-to-element" data-language="English">英语</a>
					<a class="btn btn-sm js-copy-to-element" data-language="Japanese">日语</a>
					<a class="btn btn-sm js-copy-to-element" data-language="Korean">韩语</a>
				</p>
			</div>
		    
		    <div class="boxView readbtn">
			    <span>识别方式：</span>
				<div id="allImgCrop" class="btn btn-sm">全文识别</div>
				<div id="startImgCrop" class="btn btn-sm">框选文本</div>
				<div id="endImgCrop" class="imgCropBtn">开始识别</div>
			</div>
			
			<div class="boxView">
			    <span>识别文本：</span>
				<textarea id="tranTxt"></textarea>
			</div>
			
			<div class="boxView formIpt">
			    <span>复制到：</span>
			    <p>
	
				</p>
			</div>
		</div>
		<div id="btnPanel" class="btnPanelIn"><i class="icon-angle-right"></i></div>
	</div>
	
	
	
	<div class="slidePanel">
		<ul>

		</ul>
	</div>
	 
	 <div id="cropImg"></div>
</div>
