
<div class="jscroll-content">
	<div class="page-wrap" id="page-wrap">
	    <div class="main jscroll" style="overflow-y:scroll;background: #FFF;">
	        <div class="col-tb jscroll-content">
	            <div class="col-cell j_center">
	            
	            	<!-- 右边的导航菜单 -->
				    <div id="menu">
						<div class="p_m_bg">快捷导航</div>
						<ul class="m_da">
							<li><a data-id="item1" class="p_m_dh">人事报表</a></li>
							<li><a data-id="item2" class="p_m_dh">财务报表</a></li>
							<li><a data-id="item3" class="p_m_dh">经营报表</a></li>
							<li><a data-id="item4" class="p_m_dh">资产报表</a></li>
						</ul>
						<div class="p_m_bg js_contraction"><a class="p_m_bg">收起</a></div>
					</div>
	            	
					<div class="report_bb" id="item1">
						<div class="report_color"><h4 class="rep_h4_width pro_h4 pro_h4_font">人事报表</h4></div>
						<div class="gat_title_div">
							<ul>
								<li><span style="color: #1797C4;float: left;">员工学历</span></li>
								<li><span>年龄分布</span></li>
								<li><span>人员统计</span></li>
							</ul>
						</div>
						<div>
							<img src="images/img3.png" />
						</div>
					</div>
					
					<div class="report_bb" id="item2">
						<div class="report_color"><h4 class="rep_h4_width pro_h4 pro_h4_font">财务报表</h4></div>
						<div class="gat_title_div">
							<ul>
								<li><span style="color: #1797C4;float: left;">今年业绩</span></li>
								<li><span>业务招待</span></li>
								<li><span>同期对比</span></li>
							</ul>
						</div>
						<div>
							<img src="images/dateway/2.png" />
						</div>
					</div>
					
					<div class="report_bb" id="item3">
						<div class="report_color"><h4 class="rep_h4_width pro_h4 pro_h4_font">经营报表</h4></div>
						<div class="gat_title_div">
							<ul>
								<li><span style="color: #1797C4;float: left;">业务报表</span></li>
								<li><span>行政报表</span></li>
								<li><span>风控报表</span></li>
							</ul>
						</div>
						<div>
							<img src="images/dateway/3.png" />
						</div>
					</div>
					
					<div class="report_bb" id="item4">
						<div class="report_color"><h4 class="rep_h4_width pro_h4 pro_h4_font">资产报表</h4></div>
						<div class="gat_title_div">
							<ul>
								<li><span style="color: #1797C4;float: left;">近年业绩</span></li>
								<li><span>业务招待</span></li>
								<li><span>同期对比</span></li>
							</ul>
						</div>
						<div>
							<img src="images/dateway/4.png" />
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	    
	</div>  
</div>