
		<div class="col-tb">
			<div class="col-cell j_center" id="j_taskcenter">
				<div class="e-title">
					<div class="keywords">
						<h5 class="ellipsis">
							<i class="imgcon img-search"></i>搜索: 
							<input type="text" results="s" name="keywords" class="search-keywords form-control"
								id="middlePageSearch" placeholder="全局搜索" value="{{keyword}}">
						</h5>
					</div>
				</div>
				<div id="search-group" class="toolkit toolkit-bar nobd">
					<ul class="toolkit-list">
						<li class="divider sn toolkit-item">
							<i id="check-all" class="icon-checkbox-unchecked"></i>
						</li>
						<li class="toolkit-item toolkit-item-tab {{#ifCond type "==" "process"}}active{{/ifCond}}">
							<a class="router j_search-group task filterSlip_js" data-href="search/process/{{keyword}}">公文(<i>3</i>)
						</a>
						</li>
						<li class="toolkit-item toolkit-item-tab {{#ifCond type "==" "file"}}active{{/ifCond}}">
							<a class="router j_search-group task filterSlip_js" data-href="search/file/{{keyword}}">文档(<i>2</i>)
						</a>
						</li>
					</ul>
				</div>
				<div id="search-result"
					class="scrollwrapper bg-white mCustomScrollbar _mCS_5 mCS_no_scrollbar">
					<div id="mCSB_5"
						class="mCustomScrollBox mCS-darkblue mCSB_vertical mCSB_inside"
						tabindex="0">
						<div id="mCSB_5_container"
							class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
							style="position: relative; top: 0px; left: 0px;" dir="ltr">
							<div>
								<ul id="search-result-list" class="e-list">
									<!-- TODO 添加列表 -->
								</ul>
							</div>
							<!-- 分页 -->
							<div id="search_pagination" style="float:right;padding-right:10px;margin-top: 3px;" ></div>
                
							<div id="resultlist-loading" class="loading_small hide">
								<span>正在加载数据，请稍后...</span>
							</div>
							<div class="hide no-result">无相关数据</div>
							<!-- <div class="hide center-more">更多...</div>
							<div class="hide">
								<li id="result-clone"
									class="j_entityslider-toggle result-li router filterSlip_js"><span
									class="sn"></span><span class="checkbox"><i
										class="icon-checkbox-unchecked"></i></span><span class="module"></span><span
									class="type"></span><span class="title ellipsis filterSlip_js"></span>
								<div class="right">
										<span class="comment-count"></span><span class="user ellipsis"></span><span
											class="date"></span>
									</div>
									<div class="shortcut">
										<span class="watch">关注</span><span class="finish hide">标记完成</span><span
											class="share  selector-toggle" data-entity="employee"
											data-multi="true">共享</span><a class="router link hide"><i
											class="icon-chevron-right"></i>相关事项 </a>
									</div></li>
							</div> -->
						</div>
						<div id="mCSB_5_scrollbar_vertical"
							class="mCSB_scrollTools mCSB_5_scrollbar mCS-darkblue mCSB_scrollTools_vertical"
							style="display: none;">
							<div class="mCSB_draggerContainer">
								<div id="mCSB_5_dragger_vertical" class="mCSB_dragger"
									style="position: absolute; min-height: 30px; height: 0px; top: 0px;"
									oncontextmenu="return false;">
									<div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
								</div>
								<div class="mCSB_draggerRail"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 
			<div class="col-5 " id="j_taskright">
				<div class="j_right-title e-title">
					<div>
						<h5>
							<i></i><span class="feedback-title">搜索到的反馈评论</span>
						</h5>
					</div>
				</div>
				<div id="feedback">
					<div class="toolkit toolkit-bar">
						<ul class="toolkit-list j_nav other pull-left">
							<li class="toolkit-item toolkit-item-tab j_toolkit-item task"><a>任务(<span
									class="count">0</span>)
							</a></li>
							<li class="toolkit-item toolkit-item-tab j_toolkit-item document"><a>文档(<span
									class="count">0</span>)
							</a></li>
							<li class="toolkit-item toolkit-item-tab j_toolkit-item customer"><a>客户(<span
									class="count">0</span>)
							</a></li>
							<li class="toolkit-item toolkit-item-tab j_toolkit-item workflow"><a>流程(<span
									class="count">0</span>)
							</a></li>
							<li class="toolkit-item toolkit-item-tab j_toolkit-item mainline"><a>目标(<span
									class="count">0</span>)
							</a></li>
							<li
								class="toolkit-item toolkit-item-tab j_toolkit-item blog hide"><a>日报(<span
									class="count">0</span>)
							</a></li>
							<li
								class="toolkit-item toolkit-item-tab j_toolkit-item unreadother hide"><a>未读反馈(<span
									class="count">0</span>)
							</a></li>
						</ul>
						<ul class="toolkit-list feedback-option fr">
							<li class="toolkit-item nav3 fr mark-all-readed hide"><a
								class="btn btn-sm btn-link" title="全部标记为已阅">全部已阅</a></li>
							<li class="toolkit-item nav3 fr feedback-search"><a
								class="btn btn-sm btn-link">搜索</a></li>
							<li class="toolkit-item fr feedback-search-keyword hide"><input
								type="text" maxlength="20" class="form-control control-input"
								placeholder="请输入关键字…"></li>
						</ul>
					</div>
					<div id="feedback-container"
						class="bg-white scrollwrapper mCustomScrollbar _mCS_6 mCS_no_scrollbar"
						style="height: 114px;">
						<div id="mCSB_6"
							class="mCustomScrollBox mCS-darkblue mCSB_vertical mCSB_inside"
							tabindex="0">
							<div id="mCSB_6_container"
								class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
								style="position: relative; top: 0px; left: 0px;" dir="ltr">
								<div id="feedback-clone" class="feedback-box hide">
									<div class="commentor">
										<a class="usercard-toggle"></a>
									</div>
									<div class="name ellipsis">
										<a class="j_name"></a>
									</div>
									<div class="module-name"></div>
									<div class="feedback-content"></div>
									<div class="feedback-attachment entity-container attachment"
										undeleteable="true"></div>
									<div class="parent-comment-body hide">
										<a class="parent-username usercard-toggle"></a><span
											class="parent-content ellipsis"></span>
									</div>
									<div class="feedback-bottom">
										<span class="comment-date"></span><a
											class="comment-comment hide">回复</a><a class="transmit hide">转任务</a><a
											class="readed hide" title="点击标记为已阅">已阅</a>
									</div>
								</div>
								<div id="feedback-target-clone" class="feedback-target-box hide">
									<div class="title">
										<div class="module-name"></div>
										<div class="name ellipsis">
											<a></a>
										</div>
										<a class="readed hide" title="点击标记为已阅">已阅</a>
									</div>
									<div class="target-feedbacks"></div>
								</div>
								<div id="feedbackList-loading" class="loading_small hide">
									<span>正在加载数据，请稍后...</span>
								</div>
								<div class="feedback-box no-feedback">无反馈</div>
								<div class="feedback-more hide">更多...</div>
							</div>
							<div id="mCSB_6_scrollbar_vertical"
								class="mCSB_scrollTools mCSB_6_scrollbar mCS-darkblue mCSB_scrollTools_vertical"
								style="display: none;">
								<div class="mCSB_draggerContainer">
									<div id="mCSB_6_dragger_vertical" class="mCSB_dragger"
										style="position: absolute; min-height: 30px; height: 0px; top: 0px;"
										oncontextmenu="return false;">
										<div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
									</div>
									<div class="mCSB_draggerRail"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="entityModal" class="taskcalendar-modal modal fade"
						tabindex="-1" role="dialog" aria-labelledby="entityModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body"></div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="at-comment-part" class="controls hide"
					style="position: absolute; left: 35px; top: 28px;"></div>
				<div id="at-commentreplay-part" class="controls hide"
					style="position: absolute; left: 45px; top: 235px;"></div>
				<div class="hide">
					<div id="comment-comment-clone" class="replay-box clearfix">
						<div class="comment-comment-hearder">
							回复<a class="comment-comment-username usercard-toggle" userid=""></a>
						</div>
						<div class="content-div">
							<textarea id="at-comment-content" rows="3"
								class="comment-comment-content form-control bluebox"
								v-maxlength="2000"></textarea>
						</div>
						<div class="comment-comment-btn-div">
							<a class="btn-replay btn btn-sm">回复</a><a
								class="replay-cancel btn btn-sm">取消</a><span
								class="commentComment-bottom hide">当前已回复 <a
								class="commentComment-count"></a> 次，<span
								class="commentComment-history-extend"><span>展开</span><a
									class="commentComment-history-extend-icon"></a></span><span
								class="commentComment-history-collapse hide"><span>收起</span><a
									class="commentComment-history-collapse-icon icon"></a></span></span>
						</div>
						<div class="commentComment-commented hide">
							<div class="commentComment-commented-more hide">更多</div>
						</div>
						<div id="commentScrollPosition"></div>
					</div>
					<div id="transmit-clone" class="transmit-box clearfix">
						<div class="transmit-tab">
							<span>转发到任务协作</span><span class="transmit-parent-commenter"></span><a
								class="icon-pencil commentreplay-share selector-toggle"
								data-entity="employee"></a><span class="transmitDuedate-label">到期日：</span><input
								name="transmitDuedate" type="text"
								class="datepicker form-control textinput transmitDuedate">
						</div>
						<div class="transmit-parent-content hide"></div>
						<div class="transmit-content-div">
							<textarea rows="3" class="transmit-content bluebox form-control"
								v-maxlength="2000"></textarea>
						</div>
						<div class="transmit-btn-div">
							<a class="transmit-btn btn btn-sm">转发</a><a
								class="transmit-cancel btn btn-sm">取消</a><span
								class="transmit-bottom hide">当前已转发 <a
								class="transmit-count"></a> 次，<span
								class="transmit-history-extend">展开<a
									class="transmit-history-extend-icon"></a></span><span
								class="transmit-history-collapse hide">收起<a
									class="transmit-history-collapse-icon"></a></span></span>
						</div>
						<div class="transmit-transmited hide">
							<div class="transmit-transmited-more hide">更多</div>
						</div>
						<div id="transmitScrollPosition"></div>
					</div>
					<div id="comment-commented-clone"
						class="comment-commented-box clearfix">
						<div class="comment-commented-header">
							<a class="comment-commented-user router"
								href="javascript:void(0);"></a><span
								class="comment-commented-cal"></span>
						</div>
						<div class="comment-commented-content"></div>
					</div>
					<div id="transmited-clone" class="transmited-box clearfix">
						<div class="transmited-header">
							<a class="transmited-user router" href="javascript:void(0);"></a><span
								class="transmited-cal"></span>
						</div>
						<div class="transmited-content"></div>
					</div>
				</div>
			</div>
			-->
		</div>
