<ul class="menu-group">
    <li>
        <div class="menu-head"><i class="menu-icon icon-list"></i>消息管理</div>
        <ul class="menu-group-sub j_all_flowMenu">
            <li class="{{#ifCond type "==" "newitem"}}active{{/ifCond}}" data-type="newitem" data-href="#feed/newitem">
            <a>
                <span class="fr badge hide j_unread">0</span><span class="j_type-name">未读事项</span>
            </a>
    </li>
    <li class="{{#ifCond type "==" "my-todo"}}active{{/ifCond}}" data-href="#feed/notify">
    <a>
        <span class="fr badge hide j_newComment">0</span><span class="j_type-name">提醒</span>
    </a>
    </li>
</ul>
</li>


</ul>