        <div class="col-tb jscroll-content">
            <div id="j_workflowcenter" class="col-cell j_center">
                <div class="toolkit clearfix">
                    <ul class="toolkit-list">
                        <li class="toolkit-item toolkit-title j_catalog_name">{{title}}</li>
                    </ul>
                </div>
                <div id="flowlist-container" class="ebox1 flows" style="margin-bottom:25px;">
                    {{{feedList listData.rows}}}
                </div>
                
            </div>
            <!-- 提示 -->
            <div id="j_workflowright" class="col-cell w-350">
                <div id="workflow-right" class="right-panel">
                    <div class="panel">
				<div class="panel-head">
					<h3>小提示</h3>
				</div>
				<div class="panel-body">在提醒列表您可以看到下列消息：</div>
				<div class="panel-body">1、新用户加入</div>
				<div class="panel-body">2、任务、流程、文档、客户等事项的提醒信息</div>
				<div class="panel-body">3、流程结束提醒消息</div>
			</div>
			<div class="panel">
				<div class="panel-head">
					<h3>系统帮助</h3>
				</div>
				<div class="panel-body">
					<a target="_blank" href="javascript:void(0)">1、权限</a>
				</div>
				<div class="panel-body">
					<a target="_blank" href="javascript:void(0)">2、如何设置成员的上级和部门</a>
				</div>
				<div class="panel-body">
					<a target="_blank" href="javascript:void(0)">3、哪些消息会有推送</a>
				</div>
				<div class="panel-body">
					<a target="_blank" href="javascript:void(0)">4、关注下属与关注同事有什么区别</a>
				</div>
				<div class="panel-body">
					<a target="_blank" href="javascript:void(0)">5、什么是个人事项提示以及包括哪些板块</a>
				</div>
			</div>

                </div>
                <div class="hide j_eitem">
                    <li class="list-group-item"><span class="fr j_todo"></span><span class="j_name"></span></li>
                </div>
            </div>
                <!-- 提示 -->
        </div>
