<div id="message-center" class="scrollwrapper message-center bg-white mCustomScrollbar _mCS_9"	>
	<div id="mCSB_9"
		class="mCustomScrollBox mCS-darkblue mCSB_vertical mCSB_inside"
		tabindex="0">
		<div id="mCSB_9_container" class="mCSB_container"
			style="position: relative; top: 0px; left: 0px;" dir="ltr">
			<div class="messages-unread" id="messages-unread-container">
				<div class="message-none hide">没有未读消息</div>
				<div id="4523346931473323794" refid="4523346928519823672"
					class="message-box router" type="remind">
					<div class="message-box-title">
						<span class="message-type"><i class="icon-info-sign"></i> </span><span
							class="message-name">提醒 : [流程] <a
							class="router j_entityslider-toggle"
							data-id="4523346928519823672" data-module="workflow">工作请示单</a></span><span
							class="message-btns hide"><a
							class="btn btn-xs btn-success">接受</a><a
							class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
							class="icon-envelope"></i></span>
					</div>
					<div class="message-box-content">
						<span class="message-user"><a class="usercard-toggle"
							userid="4523312868403470340">wuzy</a></span><span class="message-time">2015-06-05
							09:55:15</span><span class="message-content">[流程] 工作请示单 通过结束！</span>
					</div>
				</div>
				
				<div id="4523331278620873488" refid="6993329589063243119"
					class="message-box router" type="remind">
					<div class="message-box-title">
						<span class="message-type"><i class="icon-info-sign"></i> </span><span
							class="message-name">提醒 : [用户] <a
							class="router j_entityslider-toggle"
							data-id="6993329589063243119" data-module="user"></a></span><span
							class="message-btns hide"><a
							class="btn btn-xs btn-success">接受</a><a
							class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
							class="icon-envelope-alt"></i></span>
					</div>
					<div class="message-box-content">
						<span class="message-user"><a class="usercard-toggle"
							userid="6993329589063243119">zhouzl</a></span><span class="message-time">2015-06-03
							14:26:26</span><span class="message-content">新同事加入:zhouzl</span>
					</div>
				</div>
				<div id="4523329591236844119" refid="6993329589063243119"
					class="message-box router" type="remind">
					<div class="message-box-title">
						<span class="message-type"><i class="icon-info-sign"></i> </span><span
							class="message-name">提醒 : [用户] <a
							class="router j_entityslider-toggle"
							data-id="6993329589063243119" data-module="user"></a></span><span
							class="message-btns hide"><a
							class="btn btn-xs btn-success">接受</a><a
							class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
							class="icon-envelope-alt"></i></span>
					</div>
					<div class="message-box-content">
						<span class="message-user"><a class="usercard-toggle"
							userid="6993329589063243119">zhouzl</a></span><span class="message-time">2015-06-03
							09:45:12</span><span class="message-content">新同事加入:zhouzl</span>
					</div>
				</div>
				<div id="6993329586740643057" refid="4523312831837269379"
					class="message-box router" type="remind">
					<div class="message-box-title">
						<span class="message-type"><i class="icon-info-sign"></i> </span><span
							class="message-name">提醒 : [用户] <a
							class="router j_entityslider-toggle"
							data-id="4523312831837269379" data-module="user"></a></span><span
							class="message-btns hide"><a
							class="btn btn-xs btn-success">接受</a><a
							class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
							class="icon-envelope-alt"></i></span>
					</div>
					<div class="message-box-content">
						<span class="message-user"><a class="usercard-toggle"
							userid="4523312831837269379">zhanghs</a></span><span
							class="message-time">2015-06-03 09:44:27</span><span
							class="message-content">新同事加入:zhanghs</span>
					</div>
				</div>
				<div id="6993329579193542870" refid="4523312831837269379"
					class="message-box router" type="remind">
					<div class="message-box-title">
						<span class="message-type"><i class="icon-info-sign"></i> </span><span
							class="message-name">提醒 : [用户] <a
							class="router j_entityslider-toggle"
							data-id="4523312831837269379" data-module="user"></a></span><span
							class="message-btns hide"><a
							class="btn btn-xs btn-success">接受</a><a
							class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
							class="icon-envelope-alt"></i></span>
					</div>
					<div class="message-box-content">
						<span class="message-user"><a class="usercard-toggle"
							userid="4523312831837269379">zhanghs</a></span><span
							class="message-time">2015-06-03 09:43:12</span><span
							class="message-content">新同事加入:zhanghs</span>
					</div>
				</div>
				<div id="6993323861771182713" refid="4523312831837269379"
					class="message-box router" type="remind">
					<div class="message-box-title">
						<span class="message-type"><i class="icon-info-sign"></i> </span><span
							class="message-name">提醒 : [用户] <a
							class="router j_entityslider-toggle"
							data-id="4523312831837269379" data-module="user"></a></span><span
							class="message-btns hide"><a
							class="btn btn-xs btn-success">接受</a><a
							class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
							class="icon-envelope-alt"></i></span>
					</div>
					<div class="message-box-content">
						<span class="message-user"><a class="usercard-toggle"
							userid="4523312831837269379">zhanghs</a></span><span
							class="message-time">2015-06-02 17:50:18</span><span
							class="message-content">新同事加入:zhanghs</span>
					</div>
				</div>				
			</div>
			<div class="messages-read">
				<div class="message-none">已读消息(总共<span class="message-center-show-readed-count-all">4</span>条)</div>
				<div id="messages-read-container">
					<div id="4523313178208977187" refid="4523312831837269379"
						class="message-box router" type="remind">
						<div class="message-box-title">
							<span class="message-type"><i class="icon-info-sign"></i>
							</span><span class="message-name">提醒 : [用户]</span><span
								class="message-btns hide"><a
								class="btn btn-xs btn-success">接受</a><a
								class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
								class="icon-envelope"></i></span>
						</div>
						<div class="message-box-content">
							<span class="message-user"><a class="usercard-toggle"
								userid="4523312831837269379">zhanghs</a></span><span
								class="message-time">2015-06-01 12:09:42</span><span
								class="message-content">新同事加入:zhanghs</span>
						</div>
					</div>
					<div id="6993313012707242371" refid="4523312831837269379"
						class="message-box router" type="remind">
						<div class="message-box-title">
							<span class="message-type"><i class="icon-info-sign"></i>
							</span><span class="message-name">提醒 : [用户]</span><span
								class="message-btns hide"><a
								class="btn btn-xs btn-success">接受</a><a
								class="btn btn-xs btn-danger">拒绝</a></span><span class="message-status"><i
								class="icon-envelope"></i></span>
						</div>
						<div class="message-box-content">
							<span class="message-user"><a class="usercard-toggle"
								userid="4523312831837269379">zhanghs</a></span><span
								class="message-time">2015-06-01 11:42:07</span><span
								class="message-content">新同事加入:zhanghs</span>
						</div>
					</div>
				</div>
				<a id="unread-more" class="unread-more hide" type="remind">展开更多(剩余<span
					id="remained-count">0</span>条)
				</a>
			</div>
		</div>
		<div id="mCSB_9_scrollbar_vertical"
			class="mCSB_scrollTools mCSB_9_scrollbar mCS-darkblue mCSB_scrollTools_vertical"
			style="display: block;">
			<div class="mCSB_draggerContainer">
				<div id="mCSB_9_dragger_vertical" class="mCSB_dragger"
					style="position: absolute; min-height: 30px; height: 4px; top: 0px; display: block; max-height: 71px;"
					oncontextmenu="return false;">
					<div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
				</div>
				<div class="mCSB_draggerRail"></div>
			</div>
		</div>
	</div>
</div>
