					<div tabindex="0" class="mCustomScrollBox">
						<div class="mCSB_container" style="position: relative; top: 0px; left: 0px;">
							<div class="hide">
								<div class="goal-item-guide-wrap">
									<div class="guide-div goal-item-guide ">您还没有负责参与的项目，可通过右侧的“新建项目”来建立。<br>项目是团队成员或个人的每一件工作的中心主线和动力。 围绕着工作项目，团队成员或个人可以凝聚同事的想法、开展具体任务等事项、以及在执行过程当中进行充分的交流沟通和分享，以促进共同方向的达成。</div>
								</div>
							</div>
							<div class="js-professional-title" style="width: 100%;background: #E6E6E6;height: 25px;line-height: 25px;clear: both;">
								<div style="float: left;">微信项目</div>
								<div class="js_ss"style="float: right;margin-right: 10px;">收缩</div>
							</div>
							<div class="goal" style="clear: both;margin-top: 10px;">
		                        <dl href="#" class="goal-item router" style="background: #fff;">
		                            <dt class="goal-head clearfix">
		                                <div class="goal-icon pull-left">
		                                    <img class="icon-img" src="images/dateway/pro_icon.png">
		                                </div>
		                                <div class="goal-icon-r" style="position: relative;">
		                                	<div style="position: absolute; right: 0px;top: -14px;">
		                                		<img src="images/dateway/pro_icon_1.png">
		                                	</div>
		                                    <p class="caption ellipsis">
		                                        <a title="微信231" class="router title" style="color: #08C;">
		                                            	微信231
		                                        </a>
		                                    </p>
		                                    <span style="color:#08C;">专业名称</span>
		                                    <p class="leader">
		                                        	负责人：
		                                        <span class="manager">
		                                            chent
		                                        </span>
		                                    </p>
		                                </div>
		                            </dt>
		                            <dd class="goal-detail clearfix" style="padding-top: 0px;">
		                                <div style="width: 52px;"class="goal-chart pull-left circliful">
		                                    <span style="line-height: 52px; font-size: 13px;" class="circle-text">
		                                        0%
		                                    </span>
		                                    <canvas style="width: 52px; height: 52px;" height="52" width="52">
		                                    </canvas>
		                                </div>
		                                <div class="goal-info" style="position: relative;">
		                                    <p>
		                                        	共
		                                        <span class="participant">
		                                            1
		                                        </span>
		                                        	位同事参与
		                                    </p>
		                                    <p>项目类型1</p>
		                                    <p style="color:#1DAB01;position: absolute;top: 22px;right: 16px;">进行中</p>
		                                </div>
		                            </dd>
		                            <dd class="goal-date text-center">
		                                <span class="start">
		                                    2015-07-07
		                                </span>
		                                <span class="end">
		                                    2015-07-07
		                                </span>
		                            </dd>
		                            <em data-original-title="点击添加关注"  class="arrow">
		                            </em>
		                            <i class="icon-star"></i>
		                            <i class="icon-star-empty hide"></i>
		                        </dl>
		                        <dl href="#" class="goal-item router" style="background: #FFF7DC;">
		                            <dt class="goal-head clearfix">
		                                <div class="goal-icon pull-left">
		                                    <img class="icon-img" src="images/dateway/pro_icon.png">
		                                </div>
		                                <div class="goal-icon-r">
		                                    <p class="caption ellipsis">
		                                        <a title="微信231" class="router title" style="color: #08C;">
		                                            	微信231
		                                        </a>
		                                    </p>
		                                    <span style="color:#08C;">专业名称</span>
		                                    <p class="leader">
		                                        	负责人：
		                                        <span class="manager">
		                                            chent
		                                        </span>
		                                    </p>
		                                </div>
		                            </dt>
		                            <dd class="goal-detail clearfix" style="padding-top: 0px;">
		                                <div style="width: 52px;"class="goal-chart pull-left circliful">
		                                    <span style="line-height: 52px; font-size: 13px;" class="circle-text">
		                                        0%
		                                    </span>
		                                    <canvas style="width: 52px; height: 52px;" height="52" width="52">
		                                    </canvas>
		                                </div>
		                                <div class="goal-info" style="position: relative;">
		                                    <p>
		                                        	共
		                                        <span class="participant">
		                                            1
		                                        </span>
		                                        	位同事参与
		                                    </p>
		                                    <p>项目类型1</p>
		                                    <p style="color:#E6014C;position: absolute;top: 22px;right: 16px;">策划中</p>
		                                </div>
		                            </dd>
		                            <dd class="goal-date text-center">
		                                <span class="start">
		                                    2015-07-07
		                                </span>
		                                <span class="end">
		                                    2015-07-07
		                                </span>
		                            </dd>
		                            <em data-original-title="点击添加关注"  class="arrow">
		                            </em>
		                            <i class="icon-star"></i>
		                            <i class="icon-star-empty hide"></i>
		                        </dl>
							<div id="mainlinelist-loading" class="loading_small hide">
								<span>正在加载数据，请稍后...</span>
							</div>
						</div>
							<div class="hide no-result">无相关项目</div>
						<div class="js-professional-title" style="width: 100%;background: #E6E6E6;height: 25px;line-height: 25px;clear: both;">
								<div style="float: left;">地铁项目</div>
								<div class="js_ss" style="float: right;margin-right: 10px;">收缩</div>
							</div>
						<div class="goal" style="clear: both;margin-top: 10px;">
		                        <dl href="#" class="goal-item router" style="background: #fff;">
		                            <dt class="goal-head clearfix">
		                                <div class="goal-icon pull-left">
		                                    <img class="icon-img" src="images/dateway/pro_icon.png">
		                                </div>
		                                <div class="goal-icon-r" style="position: relative;">
		                                	<div style="position: absolute; right: 0px;top: -14px;">
		                                		<img src="images/dateway/pro_icon_2.png">
		                                	</div>
		                                    <p class="caption ellipsis">
		                                        <a title="微信231" class="router title" style="color: #08C;">
		                                            	微信231
		                                        </a>
		                                    </p>
		                                    <span style="color:#08C;">专业名称</span>
		                                    <p class="leader">
		                                        	负责人：
		                                        <span class="manager">
		                                            chent
		                                        </span>
		                                    </p>
		                                </div>
		                            </dt>
		                            <dd class="goal-detail clearfix" style="padding-top: 0px;">
		                                <div style="width: 52px;"class="goal-chart pull-left circliful">
		                                    <span style="line-height: 52px; font-size: 13px;" class="circle-text">
		                                        0%
		                                    </span>
		                                    <canvas style="width: 52px; height: 52px;" height="52" width="52">
		                                    </canvas>
		                                </div>
		                                <div class="goal-info" style="position: relative;">
		                                    <p>
		                                        	共
		                                        <span class="participant">
		                                            1
		                                        </span>
		                                        	位同事参与
		                                    </p>
		                                    <p>项目类型1</p>
		                                    <p style="color:#1DAB01;position: absolute;top: 22px;right: 16px;">进行中</p>
		                                </div>
		                            </dd>
		                            <dd class="goal-date text-center">
		                                <span class="start">
		                                    2015-07-07
		                                </span>
		                                <span class="end">
		                                    2015-07-07
		                                </span>
		                            </dd>
		                            <em data-original-title="点击添加关注"  class="arrow">
		                            </em>
		                            <i class="icon-star"></i>
		                            <i class="icon-star-empty hide"></i>
		                        </dl>
		                        <dl href="#" class="goal-item router" style="background: #fff;">
		                            <dt class="goal-head clearfix">
		                                <div class="goal-icon pull-left">
		                                    <img class="icon-img" src="images/dateway/pro_icon.png">
		                                </div>
		                                <div class="goal-icon-r" style="position: relative;">
		                                	<div style="position: absolute; right: 0px;top: -14px;">
		                                		<img src="images/dateway/pro_icon_3.png">
		                                	</div>
		                                    <p class="caption ellipsis">
		                                        <a title="微信231" class="router title" style="color: #08C;">
		                                            	微信231
		                                        </a>
		                                    </p>
		                                    <span style="color:#08C;">专业名称</span>
		                                    <p class="leader">
		                                        	负责人：
		                                        <span class="manager">
		                                            chent
		                                        </span>
		                                    </p>
		                                </div>
		                            </dt>
		                            <dd class="goal-detail clearfix" style="padding-top: 0px;">
		                                <div style="width: 52px;"class="goal-chart pull-left circliful">
		                                    <span style="line-height: 52px; font-size: 13px;" class="circle-text">
		                                        0%
		                                    </span>
		                                    <canvas style="width: 52px; height: 52px;" height="52" width="52">
		                                    </canvas>
		                                </div>
		                                <div class="goal-info" style="position: relative;">
		                                    <p>
		                                        	共
		                                        <span class="participant">
		                                            1
		                                        </span>
		                                        	位同事参与
		                                    </p>
		                                    <p>项目类型1</p>
		                                    <p style="color:#1DAB01;position: absolute;top: 22px;right: 16px;">进行中</p>
		                                </div>
		                            </dd>
		                            <dd class="goal-date text-center">
		                                <span class="start">
		                                    2015-07-07
		                                </span>
		                                <span class="end">
		                                    2015-07-07
		                                </span>
		                            </dd>
		                            <em data-original-title="点击添加关注"  class="arrow">
		                            </em>
		                            <i class="icon-star"></i>
		                            <i class="icon-star-empty hide"></i>
		                        </dl>
		                        
		    				</div>
						<div style="display: block;" class="mCSB_scrollTools mCSB_3_scrollbar mCS-darkblue mCSB_scrollTools_vertical">
							<div class="mCSB_draggerContainer">
								<div class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 12px; top: 0px; display: block; max-height: 77px;" oncontextmenu="return false;">
									<div style="line-height: 30px;" class="mCSB_dragger_bar"></div>
								</div>
								<div class="mCSB_draggerRail"></div>
							</div>
						</div>
					</div>
				</div>
