		<div class="main">
			<div class="col-12">
				<div class="toolkit">
					<ul class="toolkit-list">
					
						<li class="toolkit-item">
                            <div class="btn-group">
                            	<a href="#project/list"><span class="btn btn-sm" style="float:left;width: 70px;background:#1898c5;color:#fff;">项目</span></a>
                            	<a href="#project/profess" style="float:left;"><span class="btn btn-sm" style="width: 70px;">专业</span></a>
                            </div>
                        </li>
					
						<li class="toolkit-item">
                           <select id="projectstate"></select>
                        </li>
                        
                        <li class="toolkit-item"> 
						   <div class="btn-group dropdown" id="workflow-filter" data-toggle="#workflow-filter-dropdown"> 
						    <a class="btn btn-sm btn-square">筛选 <i class="icon-caret-down"></i></a> 
                                <div id="workflow-filter-dropdown" class="dropdown-filter dropdown-div border-dropdown">
                                	 <div id="filter-div" class="clearfix">
									   <div class="loading_large" style="display: none;"></div>
									   <div id="info-div" class="hide" style="display: block;">
									    <div id="projecttype" class="filter-group filter-title">
										     <span class="filter-label">项目类型</span>
										     <span class="filter-input"><input name="projecttypename" data-entity="projecttype" id="projecttypename" class="typehead"  placeholder="搜索项目类型" /></span>
									    </div>
									    <div id="projecttype-filter" class="filter-group mainline-div">
									    	
									    </div>
									    
									    <div id="profess" class="filter-group filter-title">
										     <span class="filter-label">专业</span>
										     <span class="filter-input"><input name="professname" data-entity="profess" id="professname" class="typehead" placeholder="搜索专业" /></span>
									    </div>
									    <div id="professlist-filter" class="filter-group mainline-div">
									    	
									    </div>
									    
									    <div id="btns" class="filter-btns pull-right">
										     <a class="btn filter-submit btn-sm">确定</a>
										     <a class="btn filter-cancle btn-sm">取消</a>
									    </div>
									   </div>
									  </div>    
                                </div>
						   </div> 
						</li>
						
						<li class="toolkit-item">
							<div class="controls">
								<input id="usercode_sub" value="" type="hidden"> 
								<input id="start_time" class="form-control" style="width: 140px;" placeholder="开始时间" type="hidden"> 
								<input id="end_time" class="form-control" style="width: 140px;" placeholder="结束时间" type="hidden">
								<input id="start_end_time" readonly="readonly" class="form-control active" style="width: 180px;" placeholder="起止时间" type="text">
							</div>
						</li>
                        
						<li class="toolkit-item keyword_search">
                       		 <input id="workflow-keywords" name="workflowsearch" class="form-control" type="text" placeholder="项目编码、名称、负责人" style="width: 200px;">
                      	 	 <i id="workflow-keywords-search" class="icon-search left-20" title="按项目编码、名称、负责人搜索"></i>
                        </li>
						
						<li class="toolkit-item fr js-addporject">
							<span class="btn btn-success btn-sm js-projectadd">
								<i class="icon-plus-thin glyphicon"></i>创建项目
							</span>
						</li>
						<li class="toolkit-item fr ">
							<div class="btn-group switch-tab changeModel">
								<a class="btn btn-sm" data-model="list" title="列表模式"><i class="icon-reorder"></i></a>
								<a class="btn btn-sm active" data-model="cart" title="卡片模式"><i class="icon-th-large"></i></a>
							</div>
						</li>

					</ul>
				</div>
				
				<div class="js-projectlist project-list"></div>
			
			</div>
		</div>
		
		
		 <!-- 列表模式-滚动加载 -->
		<script id="projectlist-template-list-more" type="text/x-handlebars-template">
		{{#each list}}
        <li data-id="{{projectcode}}" class="workflow clearfix " data-obj="{{json2Str this}}">
            <span class="sn1">{{addOneMore @index ../count}}</span>
<!-- 		<span class="checkbox"> <i class="icon-checkbox-unchecked"></i></span> -->
            <span class="title ellipsis filterSlip_js" title="{{projectname}}" data-code="{{projectcode}}" >【{{projectname}}】</span>
            <div class="right1">
                <span class="user ellipsis">{{managercode}}</span>
                <span class="comment-count" style="padding-right:3px">{{status}}&nbsp;</span>
                <span style="padding-right:3px">{{progress}}&nbsp;</span>
                <span>{{dateformat planstarttime 'yyyy-MM-dd'}}至{{dateformat planendtime 'yyyy-MM-dd'}}</span>
            </div>
			<!--
            <div class="shortcut">
                <span class="remind-toggle" vel="1111" data-taskcode="100" data-id="1111">提醒</span>
                <span class="watch" watched="" taskcode="100" data-id="1111" module="workflow">关注</span>
                <span class="share selector-toggle" data-entity="employee" data-multi="true" data-id="1111" data-processcode="1111" data-taskcode="100">共享</span>
            </div>
			-->
        </li>
        {{/each}}
		</script>
		
		<!-- 列表模式 -->
		<script id="projectlist-template-list" type="text/x-handlebars-template">
				<div class="ebox1 flows" style="margin-top: 3px;margin-bottom:5px;">
	                    <div>
						    <ul id="projectlist" class="e-list flow-list ">
								{{#each list}}
						        <li data-id="{{projectcode}}" class="workflow clearfix " data-obj="{{json2Str this}}">
						            <span class="sn1">{{addOne @index }}</span>
<!--
						            <span class="checkbox">
						                <i class="icon-checkbox-unchecked"></i>
						            </span>
-->
						            <span class="title ellipsis filterSlip_js" title="{{projectname}}" data-code="{{projectcode}}" >【{{projectname}}】</span>
						
						            <div class="right1">
						                <span class="user ellipsis">{{managercode}}</span>
						                <span class="comment-count" style="padding-right:3px">{{status}}&nbsp;</span>
						                <span style="padding-right:3px">{{progress}}&nbsp;</span>
						                <span>{{dateformat planstarttime 'yyyy-MM-dd'}}至{{dateformat planendtime 'yyyy-MM-dd'}}</span>
						            </div>
									<!--
						            <div class="shortcut">
						                <span class="remind-toggle" vel="1111" data-taskcode="100" data-id="1111">提醒</span>
						                <span class="watch" watched="" taskcode="100" data-id="1111" module="workflow">关注</span>
						                <span class="share selector-toggle" data-entity="employee" data-multi="true" data-id="1111" data-processcode="1111" data-taskcode="100">共享</span>
						            </div>
									-->
						        </li>
						        {{/each}}
						    </ul>
						</div>
						 
                </div>
		</script>
		
				
		<!-- 卡片模式 -滚动加载-->
		<script id="projectlist-template-cart-more" type="text/x-handlebars-template">
		{{#each list}}
             <dl class="goal-item router" style="background: #fff;" data-obj="{{json2Str this}}">
                   <dt class="goal-head clearfix">
                       <div class="goal-icon pull-left">
                           <img class="icon-img" src="images/dateway/pro_icon.png">
                       </div>
                       <div class="goal-icon-r">
							<div style="position: absolute; right: 5px;top: 0px;">
                     		<img src="images/dateway/pro_icon_1.png">
                     	</div>
                         <p class="caption ellipsis">
                             <a title="{{projectname}}" class="router title js-project-edit" style="color: #08C;">
                                 	{{projectname}}
                             </a>
                         </p>
                         <p class="leader">
                             	负责人：
                             <span class="manager">
                                 {{managercode}}
                             </span>
                         </p>
                     </div>
                 </dt>
                 <dd class="goal-detail clearfix">
                     <div style="width: 52px;"class="goal-chart pull-left circliful">
                         <span style="line-height: 52px; font-size: 13px;" class="circle-text">
                             {{progress}}
                         </span>
                         <canvas style="width: 52px; height: 52px;" height="52" width="52">
                         </canvas>
                     </div>
                     <div class="goal-info" style="position: relative;">
                         <p>
                             	共
                             <span class="participant">
                                 1
                             </span>
                             	位同事参与
                         </p>
                         <p>项目类型1</p>
<!--TODO 状态显示不同-->
                         <p style="color:#1DAB01;position: absolute;top: -5px;right: 16px;">进行中</p>
                         <p style="position: absolute; top: 22px; right: 16px; border: 1px solid; width: 39px; text-align: center; background: rgb(46, 143, 251) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 5px;">调整</p>
                         
                     </div>
                 </dd>
                 <dd class="goal-date text-center">
                     <span class="start">
                         {{dateformat planstarttime 'yyyy-MM-dd'}}
                     </span>
                     <span class="end">
                         {{dateformat planendtime 'yyyy-MM-dd'}}
                     </span>
                 </dd>
                 <em data-original-title="点击添加关注"  class="arrow">
                 </em>
                 <i class="icon-star"></i>
                 <i class="icon-star-empty hide"></i>
             </dl>
            {{/each}}
		</script>
		
		<!-- 卡片模式 -->
		<script id="projectlist-template-cart" type="text/x-handlebars-template">
					<div >
						<div>
							
							<div class="{{#if list}}hide{{else}}{{/if}}">
								<div class="goal-item-guide-wrap">
									<div class="guide-div goal-item-guide ">暂无项目信息。</div>
								</div>
							</div>
							
							<div id="projectcart" class="goal">
		                        <!--TODO不同状态背景颜色不同-->
								{{#each list}}
		                        <dl class="goal-item router" style="background: #fff;" data-obj="{{json2Str this}}">
		                            <dt class="goal-head clearfix">
		                                <div class="goal-icon pull-left">
		                                    <img class="icon-img" src="images/dateway/pro_icon.png">
		                                </div>
		                                <div class="goal-icon-r">
											<div style="position: absolute; right: 5px;top: 0px;">
		                                		<img src="images/dateway/pro_icon_1.png">
		                                	</div>
		                                    <p class="caption ellipsis">
		                                        <a title="{{projectname}}" class="router title js-project-edit" style="color: #08C;">
		                                            	{{projectname}}
		                                        </a>
		                                    </p>
		                                    <p class="leader">
		                                        	负责人：
		                                        <span class="manager">
		                                            {{managercode}}
		                                        </span>
		                                    </p>
		                                </div>
		                            </dt>
		                            <dd class="goal-detail clearfix">
		                                <div style="width: 52px;"class="goal-chart pull-left circliful">
		                                    <span style="line-height: 52px; font-size: 13px;" class="circle-text">
		                                        {{progress}}
		                                    </span>
		                                    <canvas style="width: 52px; height: 52px;" height="52" width="52">
		                                    </canvas>
		                                </div>
		                                <div class="goal-info" style="position: relative;">
		                                    <p>
		                                        	共
		                                        <span class="participant">
		                                            1
		                                        </span>
		                                        	位同事参与
		                                    </p>
		                                    <p>项目类型1</p>
											<!--TODO 状态显示不同-->
		                                    <p style="color:#1DAB01;position: absolute;top: -5px;right: 16px;">进行中</p>
		                                    <p style="position: absolute; top: 22px; right: 16px; border: 1px solid; width: 39px; text-align: center; background: rgb(46, 143, 251) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 5px;">调整</p>
		                                    
		                                </div>
		                            </dd>
		                            <dd class="goal-date text-center">
		                                <span class="start">
		                                    {{dateformat planstarttime 'yyyy-MM-dd'}}
		                                </span>
		                                <span class="end">
		                                    {{dateformat planendtime 'yyyy-MM-dd'}}
		                                </span>
		                            </dd>
		                            <em data-original-title="点击添加关注"  class="arrow">
		                            </em>
		                            <i class="icon-star"></i>
		                            <i class="icon-star-empty hide"></i>
		                        </dl>
		                       {{/each}}

<!--
						        <a class="goal-item goal-item-add text-center js-projectadd">
						            <i class="icon-plus"></i>
						            <p>
						                	添加新项目
						            </p>
						        <a>
-->
		    				</div>

							<div id="mainlinelist-loading" class="loading_small hide">
								<span>正在加载数据，请稍后...</span>
							</div>
							<div class="hide no-result">无相关项目</div>
						</div>
						
					</div>
			
		</script>
		
		<script id="projecttype-template" type="text/x-handlebars-template">
			{{#each data}}
				<span class="filter-item">
				 	<a data-code="{{dictcode}}" title="{{dictname}}" class="projtype-click">{{dictname}}</a>
				</span>
			{{/each}}
		</script>
		
		<script id="professlist-template" type="text/x-handlebars-template">
			{{#each data}}
				<span class="filter-item">
				 	<a data-code="{{specialtycode}}" title="{{specialtyname}}" class="profess-click">{{specialtyname}}</a>
				</span>
			{{/each}}
		</script>
