<div id="birthdayEvents">
		<textarea id="birthdayCont" class="form-control">请输入您想对他/她说的生日祝福语!!</textarea>
		<div class="control-group ">
			<label class="control-label" style="float: left" title="提醒方式">提醒方式：</label>
				<label class="radio-inline"><input type="radio" name="sendWays" checked="" value="email">邮件</label>
				<label class="radio-inline"><input type="radio" name="sendWays" value="msg">系统通知</label>
				<label class="radio-inline"><input type="radio" name="sendWays" value="sms">短信</label>
		</div>
	<div class="control-group pull-right">
		<a id="birthday-submit" class="btn btn-primary btn-sm">提交</a>
		<a id="birthday-cancle" class="btn btn-sm">取消</a>
	</div>
	
</div>

