
        <div class="jscroll-content">
			<div class="gat_big">
				<div class="news_all">
					<div class="com_news form-category-hd">
						<div class="com_news_til"><span><a class="com_news_til" href="#index">门户首页>></a></span><span><a id="top_menu" class="com_news_til" href="javascript:">公司新闻</a>>></span><span id="current_title" class="a_color">详情</span></div>
					 </div>
				</div>
				<div>
					<div id="left_menu" class="news_dh new_da_height">
						
					</div>
					<div id="info_detail" class="mom_title">
						
					</div>
				</div>
			</div>
		</div>

<!-- 左侧导航-->
<script id="more-info-left-menu-template" type="text/x-handlebars-template">
{{#each menuList}}
  <div {{#if isdefault}}class="dh_img"{{/if}}><a href="#newsmore/{{dictcode}}">{{dictname}}</a></div>
{{/each}}
</script>
<script id="more-info-detail-template" type="text/x-handlebars-template">
<div class="mom_news_title">{{title}}</div>
<div class="mom_news_por">
	<span>作者：</span>
	<span>{{creatorname}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span>来源：</span>
	<span>{{source}} &nbsp;&nbsp;&nbsp;&nbsp;</span>	
	<span>时间：</span>
	<span>{{createtime}}</span>
</div>
<div class="mom_news_cont">{{#outputhtml content}} {{/outputhtml}}</div>
<div class="mom_news_cont" id="attachment" class="file-show">
{{#if attachment}}
附件：{{#each attachment}}<a fileCode="{{code}}">{{name}}</a>{{/each}}
{{/if}}
</div>
</script>