<div class="process-forms dialog-item active">
	<div class="jscroll">
		<div class="forms-body">
			<div class="forms-content js_processtypeform">
				<div class="form-category-bd">
					<div class="entity-info clearfix">
						<div class="control-group col-6">
							<label class="control-label" style="width:75px;">姓名：</label>
							<div class="controls">
								<span class="show_val">{{name}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label" style="width:75px;">性别：</label>
							<div class="controls">
								<span class="show_val">{{sex}}</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
