
	<div id="profileContainer">
		<div class="main main-narrow j_main">
			<div id="user-container" class="user-container bg-white pt-20">
				<div id="user-info"
					class="scrollwrapper form-horizontal entity-info user-info mCustomScrollbar _mCS_7"
					style="height: 560px;">
					<div id="mCSB_7" class="mCustomScrollBox mCS-darkblue mCSB_vertical mCSB_inside" tabindex="0">
						<div id="mCSB_7_container" class="mCSB_container"
							style="position: relative; top: 0; left: 0;" dir="ltr">
							<div class="control-group">
								<label class="control-label">原密码：</label>
								<div class="controls">
									<input type="password" id="employee-oldPwd" class="form-control required "
										name="employee-oldPwd" value="" placeholder="原密码">
										&nbsp;<span id="employee-oldPwd-" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">新密码：</label>

								<div class="controls">
									<input type="password" id="employee-newPwd" minlength="8"
										class="form-control required" name="employee-newPwd" 
										value="" placeholder="新密码">
										&nbsp;<span id="employee-newPwd-" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">密码确认：</label>
								<div class="controls">
									<input type="password" id="employee-confirmPwd"   
										class="form-control required " name="employee-confirmPwd" minlength="8"
										value="" placeholder="密码确认">
										&nbsp;<span id="employee-confirmPwd-" style="color:red"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">&nbsp;</label>
								<div class="controls">
									<a id="updatePwd" class="btn btn-sm btn-primary">修改密码</a>
									<!-- <button type="submit">修改密码</button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
