<div class="modal-content">
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label" for="inputPassword">原密码：</label>
			<div class="controls">
				<input id="employee-oldPwd" type="password" placeholder="原密码"
					class="form-control" v-minlength="8" v-required="true">
					&nbsp;<span id="employee-oldPwd-" style="color:red"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">新密码：</label>
			<div class="controls">
				<input id="employee-newPwd" type="password" placeholder="新密码"
					class="form-control" v-equalto="#employee-confirmPwd"
					v-minlength="8" v-required="true">
					&nbsp;<span id="employee-newPwd-" style="color:red"></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">密码确认：</label>
			<div class="controls">
				<input id="employee-confirmPwd" class="form-control" type="password"
					placeholder="密码确认" v-minlength="8" v-required="true">
					&nbsp;<span id="employee-confirmPwd-" style="color:red"></span>
			</div>
		</div>
		<div style="padding: 8px;">
			<div class="controls">
				<a id="pwd-btn-update" class="btn btn-sm btn-primary">修改</a><a
					id="pwd-btn-cancel" class="btn btn-sm">取消</a>
			</div>
		</div>
	</div>
	<div class="modal-footer"></div>
</div>

