<div id="entitySlider" class="j_stretchBox stretch-box animate-toggleR">
	<div id="workflows-wrap" class="entity-wrap workflows-wrap">
		<div class="e-title wf-head">
			<a class="close" id="btn-close" title="关闭">×</a><i
				class="graph graph-workflow fl"></i>
			<h5>新建流程</h5>
		</div>
		<div class="workflows-container j_Workflows_scroll">
			<div class="toolkit toolkit-lg toolkit-bar clearfix">
				<ul class="toolkit-list fl js_formtab">
					<li class="toolkit-item toolkit-item-tab active"><a><i
							class="icon-tree glyphicon"></i>组织标准表单</a></li>
					<li class="toolkit-item toolkit-item-tab"><a id="my-forms"><i
							class="icon-user glyphicon"></i>我建立的表单</a></li>
					<li class="toolkit-item toolkit-item-tab"><a id="cl-forms"><i
							class="icon-cloud glyphicon"></i>mdboss云表单库</a></li>
				</ul>
				<ul class="toolkit-list fr">
					<li
						class="toolkit-item search search-right formSearch js_searchform"><input
						type="text" id="companyformsearch-keywords"
						class="form-control js_searchkeyword" searchtype="company"><i
						class="icon-search" title="表单搜索"></i></li>
					<li class="toolkit-item"><a
						class="btn btn-sm btn-success js_buildNewForm"><i
							class="icon-plus-thin glyphicon"></i>新建表单==</a></li>
				</ul>
			</div>
			<div class="scrollwrapper js_forms mCustomScrollbar _mCS_6"
				style="height: 174px;">
				<div id="mCSB_6"
					class="mCustomScrollBox mCS-darkblue mCSB_vertical mCSB_inside"
					tabindex="0">
					<div id="mCSB_6_container" class="mCSB_container"
						style="position: relative; top: 0; left: 0;" dir="ltr">
						<div class="form-list-wrap js_companyforms">
							<div id="custom-category"></div>
							<div id="other-category">
								<div class="js_formcategory js_other">
									<div class="form-category-hd">
										<h4>
											<span class="js_categoryname">其他</span><span
												class="form-acount">(5)</span>
										</h4>
									</div>
									<ul class="form-list clearfix j_formlist">
										<li class="js_formitemsli" formid="4522889269460076548"
											sort="0">
											<div class="form-list-box js_formListBox"
												formid="4522889269460076548">
												<div class="content">
													<span id="form-number" class="serial">1</span>
													<h4 id="form-title"
														class="title router ellipsis filterSlip_js js_formtitle"
														href="/workflows/4522889269382076526/4522889269460076548"
														title="请假申请单">请假申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4522889269460076548">预览</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli" formid="4522889269461676550"
											sort="0">
											<div class="form-list-box js_formListBox"
												formid="4522889269461676550">
												<div class="content">
													<span id="form-number" class="serial">2</span>
													<h4 id="form-title"
														class="title router ellipsis filterSlip_js js_formtitle"
														href="/workflows/4522889269382076526/4522889269461676550"
														title="出差申请单">出差申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4522889269461676550">预览</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli" formid="4522889269462476551"
											sort="0">
											<div class="form-list-box js_formListBox"
												formid="4522889269462476551">
												<div class="content">
													<span id="form-number" class="serial">3</span>
													<h4 id="form-title"
														class="title router ellipsis filterSlip_js js_formtitle"
														href="/workflows/4522889269382076526/4522889269462476551"
														title="工作请示单">工作请示单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4522889269462476551">预览</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli" formid="4522889269463276552"
											sort="0">
											<div class="form-list-box js_formListBox"
												formid="4522889269463276552">
												<div class="content">
													<span id="form-number" class="serial">4</span>
													<h4 id="form-title"
														class="title router ellipsis filterSlip_js js_formtitle"
														href="/workflows/4522889269382076526/4522889269463276552"
														title="报销申请单">报销申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4522889269463276552">预览</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli" formid="4522889269463976553"
											sort="0">
											<div class="form-list-box js_formListBox"
												formid="4522889269463976553">
												<div class="content">
													<span id="form-number" class="serial">5</span>
													<h4 id="form-title"
														class="title router ellipsis filterSlip_js js_formtitle"
														href="/workflows/4522889269382076526/4522889269463976553"
														title="物品申领单">物品申领单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4522889269463976553">预览</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="form-list-wrap member-forms hide">
							<div id="personalformul">
								<div class="form-category-hd">
									<h4>
										<span>我的表单</span>
									</h4>
								</div>
								<ul class="form-list clearfix js_personalformlist"></ul>
								<input type="hidden" id="pageNo-personal" value="1">

								<div class="hide js_noresult-personal text-center c-777 mb-15"
									style="display: block;">无数据</div>
								<div id="loadMore-personal" class="blogs-more js_loadMore"
									style="display: none;">加载更多</div>
							</div>
						</div>
						<div class="form-list-wrap js_cloudforms hide">
							<div id="custom-category">
								<div class="js_formcategory">
									<div class="form-category-hd">
										<h4>
											<span class="js_categoryname" id="4522978663880977164">订单类</span><span
												class="form-acount">(3)</span>
										</h4>
									</div>
									<ul class="form-list clearfix j_formlist">
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">1</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="采购申请单">采购申请单</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于企业内办公或业务所需物资采购申请">用于企业内办公或业务所需物资采购申请</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270981170412518500">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270981170412518500">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">2</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="合同订单审批表">合同订单审批表</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于合同或订单的申请审批">用于合同或订单的申请审批</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270981944136624414">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270981944136624414">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">3</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="付款申请单">付款申请单</h4>

													<p id="form-describe" class="description ellipsis"
														title="付款申请流程用于公司内各项费用的支付审批，如预付款、货款支付等。对于一般企业中付款审批也会涉及到票据的问题，和费用报销流程相同可以建议由财务进行票据的审核而业务领导对事件进行审核">
														付款申请流程用于公司内各项费用的支付审批，如预付款、货款支付等。对于一般企业中付款审批也会涉及到票据的问题，和费用报销流程相同可以建议由财务进行票据的审核而业务领导对事件进行审核</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270981128969517963">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270981128969517963">启用</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="js_formcategory">
									<div class="form-category-hd">
										<h4>
											<span class="js_categoryname" id="4522978662570277138">报销类</span><span
												class="form-acount">(1)</span>
										</h4>
									</div>
									<ul class="form-list clearfix j_formlist">
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">1</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="报销申请单">报销申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271954851978675456">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271954851978675456">启用</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="js_formcategory">
									<div class="form-category-hd">
										<h4>
											<span class="js_categoryname" id="4522978662142577135">行政类</span><span
												class="form-acount">(4)</span>
										</h4>
									</div>
									<ul class="form-list clearfix j_formlist">
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">1</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="外出申请单">外出申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271954352882956604">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271954352882956604">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">2</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="出差申请单">出差申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271954502993288009">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271954502993288009">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">3</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="物品申领单">物品申领单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271955059914626982">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271955059914626982">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">4</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="用印申请单">用印申请单</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于公司相关公章申请使用">用于公司相关公章申请使用</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271170849475717093">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271170849475717093">启用</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="js_formcategory">
									<div class="form-category-hd">
										<h4>
											<span class="js_categoryname" id="4522978661632877125">人事类</span><span
												class="form-acount">(6)</span>
										</h4>
									</div>
									<ul class="form-list clearfix j_formlist">
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">1</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="离职申请表">离职申请表</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于离职前的申请审批">用于离职前的申请审批</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270982107325625446">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270982107325625446">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">2</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="招聘需求申请单">招聘需求申请单</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于用人部门需求申请">用于用人部门需求申请</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270981907720124297">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270981907720124297">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">3</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="加班申请表">加班申请表</h4>

													<p id="form-describe" class="description ellipsis"
														title="加班申请流程用于对企业内员工需要加班时的申请审批">加班申请流程用于对企业内员工需要加班时的申请审批</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270981030849317295">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270981030849317295">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">4</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="薪酬调整申请表">薪酬调整申请表</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于为在岗位调整或转正时薪资调整的内部申请确认">用于为在岗位调整或转正时薪资调整的内部申请确认</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270981269145319746">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270981269145319746">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">5</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="转正申请表">转正申请表</h4>

													<p id="form-describe" class="description ellipsis"
														title="用于试用期内员工的转正申请">用于试用期内员工的转正申请</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4270982003471924803">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4270982003471924803">启用</a>
												</div>
											</div>
										</li>
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">6</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="请假申请单">请假申请单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271954187762604788">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271954187762604788">启用</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div id="other-category">
								<div class="js_formcategory js_other">
									<div class="form-category-hd">
										<h4>
											<span class="js_categoryname">其他</span><span
												class="form-acount">(1)</span>
										</h4>
									</div>
									<ul class="form-list clearfix j_formlist">
										<li class="js_formitemsli">
											<div class="form-list-box js_formListBox">
												<div class="content">
													<span id="form-number" class="serial">1</span>
													<h4 id="form-title"
														class="title ellipsis filterSlip_js js_cloudtitle"
														title="工作请示单">工作请示单</h4>

													<p id="form-describe" class="ellipsis nodescription"
														title="暂无表单描述">暂无表单描述</p>
												</div>
												<div class="btn-group text-right js_previewbtn">
													<a class="btn btn-sm js_formPreview"
														formid="4271954670208426877">预览</a><a
														class="btn btn-sm js_copyForm disable"
														operationtype="enable" formid="4271954670208426877">启用</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="mCSB_6_scrollbar_vertical"
						class="mCSB_scrollTools mCSB_6_scrollbar mCS-darkblue mCSB_scrollTools_vertical"
						style="display: block;">
						<div class="mCSB_draggerContainer">
							<div id="mCSB_6_dragger_vertical" class="mCSB_dragger"
								style="position: absolute; min-height: 30px; height: 68px; top: 0px; display: block; max-height: 164px;"
								oncontextmenu="return false;">
								<div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
							</div>
							<div class="mCSB_draggerRail"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>