<div class="ui-pnotify " style="width: 300px; right: 0px; top: 5px; opacity: 0.95; display: block;">
	<div class="alert alert-warning ui-pnotify-container " style="min-height: 16px;">
		<div class="ui-pnotify-icon">
			<span class="icon-exclamation-sign"></span>
		</div>
		<div class="ui-pnotify-closer" style="cursor: pointer; visibility: hidden;">
			<span class="icon-remove"></span>
		</div>
		<div class="ui-pnotify-sticker" style="cursor: pointer; visibility: hidden; display: none;">
			<span class="icon-pause"></span>
		</div>
		<h4 class="ui-pnotify-title" style="display: none;"></h4>
		<div class="ui-pnotify-text">{{data}}</div>
	</div>
</div>