<div class="col-tb jscroll-content">
	<div id="j_workflowcenter" class="col-cell j_center" style="background:#fff;">
		<div style="width:100%;text-align: center;">
			<div>广州地铁设计研究院有限公司</div>
			<div class="news-title-font">核定产值申请表</div>
		</div>
		<div style="width:100%;">
			<ul class="approved-value-ul">
				<li class="approved-value-row3">
					<span class="approved-value-name">项目名称：</span>
					<span class="approved-value-content"><input type="text" value="无锡地铁一号线西漳派出所弱电系统设计及厨房设计" style="width: 100%;"></span>
				</li>
				<li class="approved-value-row3">
					<div class="is-there-unit">
						<span class="approved-value-name">是否存在任务单位：</span>
					</div>
					<div class="is-there-right">
						<span class="approved-other-name approved-left-border"><input type="checkbox">是</span>
						<span class="approved-other-name approved-left-border"><input type="text" value="" style="width: 100px;"></span>
						<span class="approved-other-name">任务编号：<input type="text" value="" style="width: 100px;"></span>
						<span class="approved-other-name">分院领导：<input type="text" value="" style="width: 100px;"></span>
					</div>
					<div class="is-there-right appr-top-border">
						<span class="approved-other-name approved-left-border"><input type="checkbox">否</span>
						<span class="approved-other-name approved-left-border">项目经理：<input type="text" value="" style="width: 100px;"></span>
						<span class="approved-other-name">承担部门：
							<select>
								<option>无合同</option>
								<option>有合同</option>
							</select>
						</span>
						<span class="approved-other-name">项目副总工：<input type="text" value="" style="width: 100px;"></span>
					</div>
				</li>
				<li class="approved-value-row3">
					<span class="approved-other-name">产品属性：</span>
					<span class="approved-other-name">
						<select>
							<option>无合同</option>
							<option>有合同</option>
						</select>
						-
						<select>
							<option>合同内</option>
							<option>合同外</option>
						</select>
					</span>
					<span class="approved-other-name">项目类别：</span>
					<span class="approved-other-name">
						<select style="width: 100px;">
							<option>车站类</option>
							<option>停车场</option>
						</select>
					</span>
				</li>
				<li class="approved-value-row3">
					<span class="approved-other-name">工作开始日期：</span>
					<span class="approved-other-name">
						<input type="text" value="2015-10-10" class="approved-input-time">
					</span>
					<span class="approved-other-name">工作结束日期：</span>
					<span class="approved-other-name">
						<input type="text" value="2015-10-10" class="approved-input-time">
					</span>
					<span class="approved-other-name">建议总产值（万）：<input type="text" value="100.00" style="width: 100px;"></span>
					<span class="approved-other-name">核定总产值（万）：<input type="text" value="0.00" style="width: 100px;"></span>
				</li>
				<li class="approved-value-row3">
					<span class="approved-value-name">参加人员：</span>
					<span class="approved-value-content">
						<textarea class="appr-textarea form-control"></textarea>
					</span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height">详细陈述工作内容及成功要求：</span>
					<span class="approved-value-content appr-name-height">
						<div>(详细陈述工作内容及成功要求，可提供附件支持)</div>
						<textarea class="appr-textarea form-control"></textarea>
					</span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">项目经理意见：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">承担部门意见：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">项目管理部意见：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">分管副总意见：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">分管院领导意见：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">分管院领导意见：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
				<li class="approved-value-row">
					<span class="approved-value-name appr-name-height" style="line-height: 70px;">备注：</span>
					<span class="approved-value-content appr-name-height"></span>
				</li>
			</ul>
		</div>
	
	
	
	
	
	</div>
</div>

 