<div class="process-forms dialog-item active">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						<div class="control-group col-6">
							<label class="control-label">字典编码：</label>
							<div class="controls">
								<span class="show_val">{{dictcode}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">字典名称：</label>
							<div class="controls">
								<span class="show_val">{{dictname}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">字典组编码：</label>
							<div class="controls">
								<span class="show_val">{{groupcode}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">字典状态：</label>
							<div class="controls">
								<span class="show_val">{{dictstate}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">排序：</label>
							<div class="controls">
								<span class="show_val">{{dictorder}}</span>
							</div>
						</div>
						 
						<div class="control-group col-12">
							<label class="control-label">字典描述：</label>
							<div class="controls">
								<span class="show_val">{{dictdesc}}</span>
							</div>
						</div>
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="cancel" class="btn btn-sm js_form_cancel">关闭</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
