<div class="process-forms">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						 
						 
						<div class="control-group col-6">
							<label class="control-label">字典状态：</label>
							<div class="controls">
								<select id="dictstate" class="form-control">
									<option value="enable">启用</option>
									<option value="disabled">停用</option>
								</select>
							</div>
						</div>
						
						 
						<div class="control-group col-6">
							<label class="control-label">字典组编码：</label>
							<div class="controls">
								<input type="text" id="groupcode" class="form-control" value="{{groupcode}}"/>
							</div>
						</div>
						 
						 
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="submit" class="btn btn-sm btn-primary js_form_submit" style="margin-right: 6px;">确定</a>
						<a id="cancel" class="btn btn-sm js_form_cancel">取消</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
