<div class="process-forms">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						<div class="control-group col-6">
							<label class="control-label">群组编码：</label>
							<div class="controls">
								<span class="show_val" style="max-width:270px;">{{groupcode}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">群组名称：</label>
							<div class="controls">
							<span class="show_val">{{groupname}}</span>
							</div>
						</div>
						 
						<div class="control-group col-6">
							<label class="control-label">群组类型：</label>
							<div class="controls">
							<span class="show_val">{{grouptype}}</span>
								</select>
							</div>
						</div>
						
						<div class="control-group col-6">
							<label class="control-label">组织：</label>
							<div class="controls">
								<span class="show_val">{{orgcode}}</span>
							</div>
						</div>
						 
						<div class="control-group col-12">
							<label class="control-label">群组描述：</label>
							<div class="controls">
								<span class="show_val">{{dictdesc}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
