<div class="process-forms">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						 
						 
						<div class="control-group col-6">
							<label class="control-label">群组类型：</label>
							<div class="controls">
								<select id="grouptype" class="form-control">
								</select>
							</div>
						</div>
						
						<div class="control-group col-6">
							<label class="control-label">组织：</label>
							<div class="controls">
								 <input type="text" id="parentname" class="form-control" value="{{parentname}}" readonly="readonly"/>
								 <input type="hidden" id="parentcode" value="{{orgcode}}"/>
								 <a class="icon-search js_search_dept" style="margin-right: 10px;position: relative;"></a>
								<!-- <span class="selected_dept_show"></span> -->
							</div>
						</div>
						 
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="submit" class="btn btn-sm btn-primary js_form_submit" style="margin-right: 6px;">确定</a>
						<a id="cancel" class="btn btn-sm js_form_cancel">取消</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
