<div class="process-forms dialog-item active">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						<div class="control-group col-6">
							<label class="control-label">组织编码：</label>
							<div class="controls">
								<span class="show_val">{{orgcode}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">组织名称：</label>
							<div class="controls">
								<span class="show_val">{{orgname}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">父组织：</label>
							<div class="controls">
								<span class="show_val">{{parentname}}</span>
							</div>
						</div>
						 
						<div class="control-group col-6">
							<label class="control-label">组织类型：</label>
							<div class="controls">
								<span class="show_val">{{orgtype}}</span>
							</div>
						</div>
						 
						<div class="control-group col-6">
							<label class="control-label">显示顺序：</label>
							<div class="controls">
								<span class="show_val">{{orgorder}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">是否可用：</label>
							<div class="controls">
								<span class="show_val">{{isenabled}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">组织级别：</label>
							<div class="controls">
								<span class="show_val">{{orglevel}}</span>
							</div>
						</div>
						 <div class="control-group col-6">
							<label class="control-label">图标样式：</label>
							<div class="controls">
								<span class="show_val"><a class="{{iconclass}}"></a></span>
							</div>
						</div>
						<div class="control-group col-12">
							<label class="control-label">组织描述：</label>
							<div class="controls">
								<span class="show_val">{{orgdesc}}</span>
							</div>
						</div>
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="cancel" class="btn btn-sm js_form_cancel">关闭</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
