<div class="process-forms dialog-item active">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						<div class="control-group col-6">
							<label class="control-label">参数编码：</label>
							<div class="controls">
								<span class="show_val">{{paramcode}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">参数名称：</label>
							<div class="controls">
								<span class="show_val">{{paramname}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">参数值：</label>
							<div class="controls">
								<span class="show_val">{{value}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">参数类型：</label>
							<div class="controls">
								<span class="show_val">{{paramtype}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">应用编码：</label>
							<div class="controls">
								<span class="show_val">{{appcode}}</span>
							</div>
						</div>
						 
						<div class="control-group col-12">
							<label class="control-label">参数描述：</label>
							<div class="controls">
								<span class="show_val">{{paramdesc}}</span>
							</div>
						</div>
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="cancel" class="btn btn-sm js_form_cancel">关闭</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
