<div class="process-forms dialog-item active">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						<div class="control-group col-6">
							<label class="control-label">角色编码：</label>
							<div class="controls">
								<span class="show_val">{{rolecode}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">角色名称：</label>
							<div class="controls">
								<span class="show_val">{{rolename}}</span>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">组织：</label>
							<div class="controls">
								<span class="show_val">{{orgcode}}</span>
							</div>
						</div>
						 
						<div class="control-group col-6">
							<label class="control-label">角色类型：</label>
							<div class="controls">
								<span class="show_val">{{roletype}}</span>
							</div>
						</div>
						
						<div class="control-group col-6">
							<label class="control-label">状态：</label>
							<div class="controls">
								<span class="show_val">{{rolestate}}</span>
							</div>
						</div>
						<div class="control-group col-12">
							<label class="control-label">角色描述：</label>
							<div class="controls">
								<span class="show_val">{{roledesc}}</span>
							</div>
						</div>
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="cancel" class="btn btn-sm js_form_cancel">关闭</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
