<div class="process-forms">
	<div class="jscroll">
		<div class="forms-body">
			<div id="module_form" class="forms-content js_processtypeform">
				<div class="form-category-bd" style="border-bottom: 1px solid #eee;">
					<div class="entity-info clearfix">
						
						<div class="control-group col-6">
							<label class="control-label">角色：</label>
							<div class="controls">
								 <input type="text" id="rolecode" class="form-control required" value="{{rolecode}}"/>
								 <a class="icon-search js_search_role" style="position: relative;position: relative;left: -20px;"></a>
								<!-- <span class="selected_dept_show"></span> -->
							</div>
						</div>
						 <div class="control-group col-6">
							<label class="control-label">权限：</label>
							<div class="controls">
								 <input type="text" id="permcode" class="form-control required" readonly="readonly" value="{{permcode}}"/>
								 <a class="icon-search js_role_perm" data-permcode="{{permcode}}" style="position: relative;position: relative;left: -20px;"></a>
							</div>
						</div>
						<div class="control-group col-6">
							<label class="control-label">状态：</label>
							<div class="controls">
								<select id="status" class="form-control required">
									<option value="enable">启用</option>
									<option value="disabled">停用</option>
								</select>
							</div>
						</div>
						<div class="control-group col-12">
							<label class="control-label">有效时间：</label>
							<div class="controls">
								<input type="text" id="effecttime" class="form-control" value="{{timelimit}}" readonly="readonly" style="width:340px"/>
								<input type="hidden" id="startTime" />
								<input type="hidden" id="endTime" />
							</div>
						</div>
						
						<div class="control-group col-12">
							<label class="control-label">授权描述：</label>
							<div class="controls">
								<textarea class="form-control" style="width:600px;height:50px" id="permdesc">{{permdesc}}</textarea>
							</div>
						</div>
					</div>
				</div>
				<div style="height:31px;margin-top: 4px">
					<div class="controls" style="float:right;">
						<a id="submit" class="btn btn-sm btn-primary js_form_submit" style="margin-right: 6px;">确定</a>
						<a id="cancel" class="btn btn-sm js_form_cancel">取消</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
