{{#each userList}}
<li id="{{id}}" uc="{{usercode}}" class="clearfix">
    <a class="select_show" {{../hide}}><input id="{{id}}" value="{{username}}" uc="{{usercode}}" type="checkbox" name="userids" class="user-id mr-3"></a>
    <a class="avatar usercard-toggle" userid="{{id}}" vel="{{username}}" uc="{{usercode}}">
        <img alt="avatar" title="" src=" {{#if avatarcode}}{{baseUrl}}download?filecode={{avatarcode}}{{else}}images/avatar.png{{/if}}">
    </a>
    <a class="name j_entityslider-toggle" userid="{{id}}" vel="{{username}}" uc="{{usercode}}"  title="">{{username}}
        <font color="red"></font>
    </a>
    <span class="email">{{orgname}}</span>
    <span class="email">{{userrank}}</span>
    <span class="email">{{mobileno}}</span>
    <span class="email">{{email}}</span>
</li>
{{/each}}